{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row">
			<h1>Votre code de confirmation a bien été pris en compte</h1>
			<h3>Merci pour votre confiance à bientôt sur <a href="http://1minutepresta.fr/">1minutepresta.fr</a></h3>
		</div>
	</div>

{% endblock %}