{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<h1>Créer Votre Annonce</h1>
		<form id="contact-form" name="contact-form" method="POST" onsubmit="createAnnouncement()">
			<div class="row mt-5">
				<input type="text" id="title" name="title" class="form-control" required="required">
                <label for="title" class="">Titre</label>
			</div>
			<div class="row mt-5">
				<select id="category" class="form-control">
  					<option name="category">Catégorie</option>
  					{% for category in categories %}
  						{% if category.IsActive %}
			                <option value="{{ category.id }}">{{category.Name}}</option>
			             {% endif %}
  					{% endfor %}
				</select>
			</div>
			<div class="row mt-5">
				<textarea type="text" required="required" id="desc" name="desc" rows="10" class="form-control md-textarea"></textarea>
                <label for="desc" class="">Description</label>
			</div>
			<div class="row mt-5">
				<input type="text" id="price" name="price" class="form-control" required="required">
                <label for="price" class="">Prix</label>
			</div>

			{% if (hasOffer) %}

				<div class="row mt-5">
					<input class="form-control" id="img1" type="file" name="myFile1"/>
					<img class="form-control" id="preview1" src="#" alt="aucune image"/>
					<input class="form-control" id="img2" type="file" name="myFile2"/>
					<img class="form-control" id="preview2" src="#" alt="aucune image"/>
					<input class="form-control" id="img3" type="file" name="myFile3"/>
					<img class="form-control" id="preview3" src="#" alt="aucune image"/>
					<input class="form-control" id="img4" type="file" name="myFile4"/>
					<img class="form-control" id="preview4" src="#" alt="aucune image"/>
					<input class="form-control" id="img5" type="file" name="myFile5"/>
					<img class="form-control" id="preview5" src="#" alt="aucune image"/>
					<input class="form-control" id="img6" type="file" name="myFile6"/>
					<img class="form-control" id="preview6" src="#" alt="aucune image"/>
					{% if (offer[0].Photo > 6) %}
						<input class="form-control" id="img7" type="file" name="myFile7"/>
						<img class="form-control" id="preview7" src="#" alt="aucune image"/>
						<input class="form-control" id="img8" type="file" name="myFile8"/>
						<img class="form-control" id="preview8" src="#" alt="aucune image"/>
						<input class="form-control" id="img9" type="file" name="myFile9"/>
						<img class="form-control" id="preview9" src="#" alt="aucune image"/>
					{% endif %}
					<label for="price" class="">Photos Complémentaires</label>
				</div>

			{% endif %}

			 <div class="row mt-5 mb-5">
                <a class="btn btn-primary" onclick="createAnnouncement()">Créer l'annonce</a>
            </div>
		</form>
	</div>

	{% block javascripts %} 
	    <script type="text/javascript" src="/oneminute/src/js/ajaxCreate.js"></script>
	    <script src="https://unpkg.com/blob-util@2.0.2/dist/blob-util.js"></script>
	{% endblock %}

{% endblock %}
