{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<h1>Créer Votre Annonce</h1>
		<form id="contact-form" name="contact-form" method="POST" onsubmit="createAnnouncement()">
			<div class="row mt-5">
				<input type="text" id="title" name="title" class="form-control" required="required">
                <label for="title" class="">Titre</label>
			</div>
			<div class="row mt-5">
				<select id="category" class="form-control">
  					<option name="category">Catégorie</option>
  					{% for category in categories %}
  						{% if category.IsActive %}
			                <option value="{{ category.id }}">{{category.Name}}</option>
			             {% endif %}
  					{% endfor %}
				</select>
			</div>
			<div class="row mt-5">
				<textarea type="text" required="required" id="desc" name="desc" rows="10" class="form-control md-textarea"></textarea>
                <label for="desc" class="">Description</label>
			</div>
			<div class="row mt-5">
				<input type="text" id="price" name="price" class="form-control" required="required">
                <label for="price" class="">Prix</label>
			</div>

			 <div class="row mt-5 mb-5">
                <a class="btn btn-primary" onclick="createAnnouncement()">Créer l'annonce</a>
            </div>
		</form>
	</div>

	{% block javascripts %} 
	    <script type="text/javascript" src="/oneminute/src/js/ajaxCreate.js"></script>
	{% endblock %}

{% endblock %}
