{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<h1>Modifier votre RIB</h1>

		<form id="contact-form" name="contact-form" action="{{ path('editbank') }}" method="POST">
			
			<div class="row mt-5">
				<input type="text" id="iban" name="iban" class="form-control" value="{{ rib[0].Iban }}" required="required">
                <label for="iban" class="">IBAN</label>
			</div>
			<div class="row mt-5">
				<input type="text" id="bic" name="bic" class="form-control" value="{{ rib[0].Bic }}" required="required">
                <label for="bic" class="">BIC</label>
			</div>

			 <div class="row mt-5 mb-5">
                <button type="submit" class="btn btn-success btn-block mb-5">Modifier</button>
            </div>
		</form>
	</div>

{% endblock %}
