{% extends "base.html.twig" %}

{% block body %}

	<div class="container">
		<div class="row">
			<h1>Votre code de confirmation est érroné ou a expiré</h1>
			<h3>Merci de re-cliquer sur le lien dans votre e-mail de confirmation de commande afin de regénérer un code de validation</h3>
		</div>
	</div>

{% endblock %}