{% extends "base.html.twig" %}

{% block body %}


<div class="container">
	<div class="row">
		<iframe name="paybox-iframe" scrolling="no" frameborder="0" onload="resizeIframe(this)" class="col-md-12" src="{{paybox}}"></iframe>
	</div>
</div>
{% endblock %}