{% extends "base.html.twig" %}

{% block body %}

<div class="container">
		<div class="row">
			<div class="mt-20 text-center">
            	<h1>Paiement annulé</h1>
            	<h3>Vous avez annulé la transaction</h3>
        	</div>
		</div>
	</div>


{% endblock %}