{% extends "base.html.twig" %}

{% block body %}
	
	<div class="container">
		<div class="embed-responsive embed-responsive-16by9">
			<embed class="embed-responsive-item" src="/oneminute/src/Files/fiscal.pdf"></embed>
		</div>
	</div>

{% endblock %}