.btn-login{
  background-color: #23d85b;
}

/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}*/

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 94%;
    height: 133px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}