.btn-login{
  background-color: #23d85b;
}

/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}*/

.profile-userpic img {
  float: none;
  margin: 0 auto;
  width: 94%;
    height: 133px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  border-radius: 50% !important;
}

.navbar,.footer{
  background-color: #fd1589;
}

.logo{
  width: 250px;
  height: 250px;
}

.nav-link:hover{
  color: white !important;
}

.list-group{
  padding-left: 30px !important;
}

/*CSS Offer start*/

.offer {
  border:none;
  padding: 10px 50px;
}

.offer::after {
  position: absolute;
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.offer:hover {


  transform: scale(1.02, 1.02);
  -webkit-transform: scale(1.02, 1.02);
  backface-visibility: hidden; 
  will-change: transform;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.75) !important;
}

.offer:hover::after {
  opacity: 1;
}

.offer:hover .btn-outline-primary{
  color:white;
  background:#007bff;
}

/*CSS Offer end*/

.img-thumbnail-override {
    max-width: 32.79% !important;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  filter: invert(1);
}

.footer {
  position: relative;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}